        body {
             font-family: 'Open Sans', sans-serif;
              background-color: #000000;
             }
        h1 {
            color: #76e3a9;
}
      h2 {
            color: #76e3a9;
}
      h3 {
            color: #76e3a9;
}
      h4 {
            color: #76e3a9;
}
      h5 {
            color: #76e3a9;
}
      h6 {
            color: #76e3a9;
}
      p {
            color: #76e3a9;
}

* {
  box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  background-color: #000000;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

    .danger {
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
}
.black {
color: black;
    }
